In [5]:
data(mtcars)
class(mtcars)

[1] "data.frame"

In [6]:
dim(mtcars)

[1] 32 11

In [4]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [13]:
as.matrix(mtcars)->x

In [14]:
class(x)

[1] "matrix"

In [20]:
print(rowMeans(x)[1:3]) # computes row mean of all row wise values
print(colMeans(x)[1:3]) # computes column mean of all column wise values

    Mazda RX4 Mazda RX4 Wag    Datsun 710
     29.90727      29.98136      23.59818
      mpg       cyl      disp
 20.09062   6.18750 230.72188

In [26]:
mean(x[1,]) # Mean of all values of first row

[1] 29.90727

In [28]:
mean(x[,1]) # average of all values of first column ie., average of mpg

[1] 20.09062